<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265120766102-vpcbdslgpgiei0s9drb4ogn02k074tr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265120766102-vpcbdslgpgiei0s9drb4ogn02k074tr8</string>
	<key>API_KEY</key>
	<string>AIzaSyBjjRyrrU9nErvY0mM91nuHGa0-8vQmtHM</string>
	<key>GCM_SENDER_ID</key>
	<string>265120766102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clickgame</string>
	<key>PROJECT_ID</key>
	<string>click-game-8af15</string>
	<key>STORAGE_BUCKET</key>
	<string>click-game-8af15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265120766102:ios:dfce5f0f6d06a0096b0ab7</string>
</dict>
</plist>